.main{
    /* display={"flex"} flexDir="column" alignItems={"baseline"} border={"1px solid gray"} */
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-bottom: .1px solid gray;
}